.about-section {
  padding: 4rem 4rem;
  max-width: 1000px;
}

.about-content p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--text-main);
  margin-bottom: 2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 2rem;
  }
  .about-content p {
    font-size: 1.25rem;
  }
}
